Repository addness-adteam/TikTok-ads-automation, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, shared-types, dependencies, documentation, ci/cd, docker, database

feat: Phase 0 完了 - データベーススキーマ、API実装、ドキュメント追加
  .env.example
  README.md
  apps/backend/package.json
  apps/backend/prisma/migrations/20251022_add_all_models/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  apps/backend/src/prisma/prisma.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
  docs/erd-design.md
  docs/migration-guide.md
  register-remaining-tokens.bat
  scripts/clear-tokens.ts
  実装タスク一覧.txt
Labels: backend, dependencies, documentation, database

docs: Phase 0 完了 - ドキュメント整備
  docs/api-spec.md
  docs/phase1-plan.md
  docs/setup.md
  docs/technical-debt.md
Labels: documentation

feat: Vercelデプロイ設定追加 - バックエンド/フロントエンド対応
  apps/backend/api/index.ts
  apps/backend/vercel.json
  apps/frontend/app/auth/tiktok/callback/page.tsx
  vercel.json
Labels: backend, frontend

feat: /about ページにOAuthコールバック処理を追加
  apps/frontend/app/about/page.tsx
Labels: frontend

fix: Vercelフレームワーク設定を修正 - Next.js明示指定
  apps/frontend/vercel.json
  vercel.json
Labels: frontend

fix: バックエンドデプロイエラー修正 - Prismaクライアント生成追加
  apps/backend/package.json
  apps/backend/vercel.json
Labels: backend, dependencies

fix: バックエンドビルドエラー修正 - import文の修正
  apps/backend/api/index.ts
  apps/backend/prisma/seed.ts
Labels: backend, database

fix: CORS設定を修正してVercelデプロイ対応
  apps/backend/src/main.ts
Labels: backend

fix: ログインエラーの詳細なデバッグ情報を追加
  apps/frontend/app/login/page.tsx
Labels: frontend

chore: CORS設定のログを追加してバックエンド再デプロイ
  apps/backend/src/main.ts
Labels: backend

fix: Vercelエントリーポイント(api/index.ts)のCORS設定を修正
  apps/backend/api/index.ts
Labels: backend

fix: Update redirect_uri to adsp-database.com for TikTok OAuth
  apps/backend/README.md
Labels: backend, documentation

fix: Correct TikTok App ID and Secret for OAuth authentication
  apps/backend/README.md
Labels: backend, documentation

fix: Configure production URLs for OAuth flow - backend and frontend
  apps/backend/README.md
  apps/frontend/README.md
Labels: backend, frontend, documentation

feat: Add frontend redirect after successful OAuth authentication
  apps/backend/src/tiktok/tiktok.controller.ts
Labels: backend

fix: Use import type for Response in tiktok controller
  apps/backend/src/tiktok/tiktok.controller.ts
Labels: backend

refactor: Remove OAuth authentication, use fixed token approach
  apps/frontend/app/dashboard/page.tsx
  apps/frontend/app/page.tsx
Labels: frontend

fix: Remove unused router variable from dashboard
  apps/frontend/app/dashboard/page.tsx
Labels: frontend

fix: Simplify home page to redirect-only with loading state
  apps/frontend/app/page.tsx
Labels: frontend

feat: Add aggregated dashboard API endpoint for real data
  apps/backend/src/app.module.ts
  apps/backend/src/dashboard/dashboard.controller.ts
  apps/backend/src/dashboard/dashboard.module.ts
  apps/backend/src/dashboard/dashboard.service.ts
  apps/frontend/lib/hooks/useDashboardData.ts
Labels: backend, frontend

fix: Add explicit type annotations for dashboard arrays
  apps/backend/src/dashboard/dashboard.service.ts
Labels: backend

feat: 広告セット（AdGroup）の予算を集約してキャンペーン予算に反映
  apps/backend/src/dashboard/dashboard.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

feat: Add appeal management, campaign builder, creative management, and optimization features
  .env.example
  .prettierrc
  apps/backend/package.json
  apps/backend/prisma/migrations/20251101124209_add_appeal_master/migration.sql
  apps/backend/prisma/migrations/20251102125351_add_creative_name_field/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/advertiser/advertiser.controller.ts
  apps/backend/src/advertiser/advertiser.module.ts
  apps/backend/src/advertiser/advertiser.service.ts
  apps/backend/src/app.module.ts
  apps/backend/src/appeal/appeal.controller.ts
  apps/backend/src/appeal/appeal.module.ts
  apps/backend/src/appeal/appeal.service.ts
  apps/backend/src/campaign-builder/campaign-builder.controller.ts
  apps/backend/src/campaign-builder/campaign-builder.module.ts
  apps/backend/src/campaign-builder/campaign-builder.service.ts
  apps/backend/src/creative/creative.controller.ts
  apps/backend/src/creative/creative.module.ts
  apps/backend/src/creative/creative.service.ts
  apps/backend/src/google-sheets/google-sheets.module.ts
  apps/backend/src/google-sheets/google-sheets.service.ts
  apps/backend/src/jobs/scheduler.service.ts
  apps/backend/src/optimization/optimization.controller.ts
  apps/backend/src/optimization/optimization.module.ts
  apps/backend/src/optimization/optimization.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
  apps/frontend/app/appeals/page.tsx
  apps/frontend/app/campaign-builder/page.tsx
  apps/frontend/app/creatives/page.tsx
  apps/frontend/app/dashboard/page.tsx
  apps/frontend/app/optimization/page.tsx
  apps/frontend/components/layout/AppLayout.tsx
  apps/frontend/components/layout/Sidebar.tsx
  package-lock.json
  scripts/check-token-advertisers.ts
  実装タスク一覧.txt
Labels: backend, frontend, dependencies, database

fix: Fetch and save actual advertiser names from TikTok API
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: Rename getAdvertiserDetails to avoid method name conflict
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: Use getAdvertiserInfo to fetch advertiser names reliably
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

chore: Add .env.production for Vercel deployment
  apps/frontend/.env.production
  apps/frontend/.gitignore
Labels: frontend

fix: Configure API URL in next.config.ts for Vercel deployment
  apps/frontend/next.config.ts
Labels: frontend

fix: Use runtime URL detection instead of build-time env variables
  apps/frontend/app/appeals/page.tsx
  apps/frontend/app/campaign-builder/page.tsx
  apps/frontend/app/creatives/page.tsx
  apps/frontend/app/optimization/page.tsx
Labels: frontend

feat: Add detailed logging for optimization ad evaluation
  apps/backend/src/advertiser/advertiser.controller.ts
  apps/backend/src/appeal/appeal.controller.ts
  apps/backend/src/dashboard/dashboard.service.ts
  apps/backend/src/optimization/optimization.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: Update optimization page to handle new API response format
  apps/frontend/app/optimization/page.tsx
Labels: frontend

fix: Add missing getApiUrl function to optimization page
  apps/frontend/app/optimization/page.tsx
Labels: frontend

feat: Add detailed logs for each ad in optimization results
  apps/backend/src/optimization/optimization.service.ts
Labels: backend

feat: Add detailed optimization logs display in frontend
  apps/frontend/app/optimization/page.tsx
Labels: frontend

feat: Add multiple advertiser selection for budget optimization
  apps/backend/src/optimization/optimization.controller.ts
  apps/frontend/app/optimization/page.tsx
Labels: backend, frontend

fix: Fix TypeScript compilation errors in optimization module
  apps/backend/src/optimization/optimization.controller.ts
  apps/backend/src/optimization/optimization.service.ts
Labels: backend

fix: Support multi-part CR names and add rate limiting for Google Sheets API
  apps/backend/src/google-sheets/google-sheets.service.ts
  apps/backend/src/optimization/optimization.service.ts
Labels: backend

fix: Enable automatic metrics collection and fix AD-level metrics saving
  apps/backend/src/jobs/scheduler.service.ts
  apps/backend/src/optimization/optimization.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: Add unique constraints for metric upsert operations
  apps/backend/prisma/schema.prisma
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend, database

feat: Add GitHub Actions workflow for daily metrics collection
  .github/workflows/daily-metrics.yml
Labels: ci/cd

.github/labeler.yml:

# Pull Request Auto Labeler Configuration

'backend':
  - apps/backend/**/*

'frontend':
  - apps/frontend/**/*

'shared-types':
  - packages/shared-types/**/*

'dependencies':
  - package.json
  - package-lock.json
  - apps/*/package.json
  - packages/*/package.json

'documentation':
  - docs/**/*
  - '**/*.md'

'ci/cd':
  - .github/workflows/**/*
  - .github/**/*

'docker':
  - docker-compose.yml
  - Dockerfile
  - docker/**/*

'database':
  - apps/backend/prisma/**/*
  - docker/postgres/**/*
