Repository addness-adteam/TikTok-ads-automation, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, shared-types, dependencies, documentation, ci/cd, docker, database

.github/labeler.yml:

# Pull Request Auto Labeler Configuration

'backend':
  - apps/backend/**/*

'frontend':
  - apps/frontend/**/*

'shared-types':
  - packages/shared-types/**/*

'dependencies':
  - package.json
  - package-lock.json
  - apps/*/package.json
  - packages/*/package.json

'documentation':
  - docs/**/*
  - '**/*.md'

'ci/cd':
  - .github/workflows/**/*
  - .github/**/*

'docker':
  - docker-compose.yml
  - Dockerfile
  - docker/**/*

'database':
  - apps/backend/prisma/**/*
  - docker/postgres/**/*

fix: V2予算調整のエラーハンドリング改善・アピール作成時のスプレッドシートURL直接指定対応
  .github/workflows/budget-optimization-v2.yml
  apps/backend/src/appeal/appeal.service.ts
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.controller.ts
Labels: backend, ci/cd

fix: V2予算調整で日予算が¥0になるバグを修正
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/budget-optimization-v2/types.ts
Labels: backend

feat: V2予算調整の対象にAI_1/AI_2/AI_3アカウントを追加
  .github/workflows/budget-optimization-v2.yml
Labels: ci/cd

fix: スプレッドシートの日付をJSTとしてパースするよう修正
  apps/backend/src/google-sheets/google-sheets.service.ts
Labels: backend

fix: フロント販売0でも広告費が許容フロントCPO以上なら停止する判定を追加
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

feat: 予算調整V2に個別予約CPOによる停止・予算減額判定を追加
  apps/backend/prisma/schema.prisma
  apps/backend/src/appeal/appeal.service.ts
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/budget-optimization-v2/types.ts
  apps/backend/src/google-sheets/google-sheets.service.ts
  apps/frontend/app/appeals/page.tsx
  docs/INDIVIDUAL_RESERVATION_CPO_REQUIREMENTS.md
Labels: backend, frontend, documentation, database

fix: 上限日予算作成時のadvertiserId FK制約違反を修正
  apps/backend/src/ad-performance/ad-budget-cap.service.ts
Labels: backend

fix: 上限日予算作成レスポンスに広告名を含めるようincludeを追加
  apps/backend/src/ad-performance/ad-budget-cap.service.ts
Labels: backend

fix: 停止数カウントがV2のsourceを検索していなかったバグを修正
  apps/backend/src/ad-count-recording/ad-count-recording.service.ts
Labels: backend

fix: 予算増額時にBUDGET_TIER.HIGH_MAX(40,000円)を超えないようキャップを追加
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

feat: CR制作者ごとの広告停止率レポート機能を追加
  apps/backend/src/app.module.ts
  apps/backend/src/creator-stop-rate/creator-stop-rate.controller.ts
  apps/backend/src/creator-stop-rate/creator-stop-rate.module.ts
  apps/backend/src/creator-stop-rate/creator-stop-rate.service.ts
  apps/frontend/app/creator-stop-rate/page.tsx
  apps/frontend/components/layout/Sidebar.tsx
  apps/frontend/lib/api.ts
Labels: backend, frontend

fix: CreatorStopRateResponseをexportしてTS4053ビルドエラーを修正
  apps/backend/src/creator-stop-rate/creator-stop-rate.service.ts
Labels: backend

feat: 出稿7日以内の広告を配信停止判定からスキップする保護を追加
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

feat: 予算調整V2にCR除外機能を追加（DB + API + 判定統合）
  apps/backend/prisma/schema.prisma
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.controller.ts
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend, database

feat: CR除外設定のフロントエンドページを追加
  apps/frontend/app/optimization/exclusions/page.tsx
  apps/frontend/components/layout/Sidebar.tsx
  apps/frontend/lib/api.ts
Labels: frontend

chore: 日中CPA最適化ワークフローを削除
  .github/workflows/intraday-optimization.yml
Labels: ci/cd

fix: 日中CPA最適化の@Cronスケジューラを削除してVercel上の自動実行を停止
  apps/backend/src/intraday-optimization/intraday-optimization.service.ts
Labels: backend

feat: 日予算リセット（毎日0時）+ 予算調整30分間隔化
  .github/workflows/budget-optimization-v2.yml
  .github/workflows/budget-reset-midnight.yml
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.controller.ts
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/budget-optimization-v2/types.ts
Labels: backend, ci/cd

feat: 予算調整V2の日次レポートをGoogle Sheetsに自動書き出し
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/budget-optimization-v2/types.ts
Labels: backend

fix: 予算調整V2の日次レポートが個別実行時にもシートに書き出されるよう修正
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

fix: V2予算最適化でSKIP時にCV数が0として保存されるバグを修正
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

fix: 予算調整V2のシート書き出しをGitHub Actions側に分離
  .github/workflows/budget-optimization-v2.yml
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.controller.ts
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend, ci/cd

fix: 予算調整V2の日次レポートシート名を実際のシート名に修正し、日本語シート名をクォート
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/budget-optimization-v2/types.ts
Labels: backend

fix: 個別予約CPO判定の登録経路からCR名を除去し実際のシート形式に一致させる
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

feat: AI_4 (7580666710525493255) を予算調整V2の対象アカウントに追加
  .github/workflows/budget-optimization-v2.yml
Labels: ci/cd

feat: 制作者停止率の集計単位を広告単位からCR単位に変更
  apps/backend/src/creator-stop-rate/creator-stop-rate.service.ts
  apps/frontend/app/creator-stop-rate/page.tsx
  apps/frontend/lib/api.ts
Labels: backend, frontend

fix: 出稿7日以内保護の適用範囲を個別予約CPO判定のみに限定
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

feat: SNS3 (7543540381615800337) を予算調整V2の対象アカウントに追加
  .github/workflows/budget-optimization-v2.yml
  .github/workflows/budget-optimization.yml
Labels: ci/cd

feat: SNS1 (7247073333517238273) と SNS2 (7543540100849156112) を予算調整V2の対象アカウントに追加
  .github/workflows/budget-optimization-v2.yml
Labels: ci/cd

feat: 制作者停止率APIに大当たりCR情報を追加（消化金額50万以上）
  apps/backend/src/creator-stop-rate/creator-stop-rate.service.ts
Labels: backend

feat: 勝ちCRの0時予算リセットをスキップする機能を追加
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/budget-optimization-v2/types.ts
  apps/backend/src/google-sheets/google-sheets.service.ts
Labels: backend

chore: 予算調整V1のスケジュール実行を無効化（全アカウントV2移行済み）
  .github/workflows/budget-optimization.yml
Labels: ci/cd

feat: 予算調整V2の日予算40,000円上限キャップを撤廃
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

feat: 0時予算リセットを入稿時予算に戻す機能 + Smart+横展開機能の要件定義
  CLAUDE.md
  TASKS.md
  apps/backend/prisma/schema.prisma
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/jobs/jobs.controller.ts
  apps/backend/src/jobs/scheduler.service.ts
  docs/SMART_PLUS_CROSS_DEPLOY_SPEC.md
  docs/knowledge/2026-03-17_パフォーマンス全体分析.md
  docs/knowledge/2026-03-17_横展開出稿実施.md
  package-lock.json
  package.json
Labels: backend, dependencies, documentation, database

feat: 予算増加の20時制限を撤廃（23時まで予算増加可能に）
  apps/backend/src/budget-optimization-v2/types.ts
Labels: backend

feat: 予算調整V2を30分間隔・ほぼ24時間実行に変更（JST 0:30〜23:30）
  .github/workflows/budget-optimization-v2.yml
  apps/backend/src/budget-optimization-v2/types.ts
Labels: backend, ci/cd

feat: 予算調整V2の実行間隔を30分→15分に短縮（JST 0:15〜23:45）
  .github/workflows/budget-optimization-v2.yml
Labels: ci/cd

docs: 横展開機能に通常配信モード（1-1-1構成）を追加
  TASKS.md
  docs/SMART_PLUS_CROSS_DEPLOY_SPEC.md
Labels: documentation

feat: Smart+/通常配信の横展開機能を実装（cross-deploy）
  TASKS.md
  apps/backend/prisma/schema.prisma
  apps/backend/src/app.module.ts
  apps/backend/src/cross-deploy/cross-deploy.controller.ts
  apps/backend/src/cross-deploy/cross-deploy.module.ts
  apps/backend/src/cross-deploy/cross-deploy.service.ts
  apps/backend/src/cross-deploy/types.ts
  apps/backend/src/tiktok/tiktok.service.ts
  apps/backend/src/utage/utage.module.ts
  apps/backend/src/utage/utage.service.ts
  apps/backend/src/utage/utage.types.ts
  package-lock.json
Labels: backend, dependencies, documentation, database

fix: 勝ちCRの日予算リセットスキップを廃止（全広告一律リセット）
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/budget-optimization-v2/types.ts
Labels: backend
