Repository addness-adteam/TikTok-ads-automation, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, shared-types, dependencies, documentation, ci/cd, docker, database

fix: AppLayoutの背景をダークテーマに変更（bg-gray-50→bg-gray-950）
  apps/frontend/components/layout/AppLayout.tsx
Labels: frontend

fix: 除外オーディエンスのパラメータ名を修正
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: ワンストップ出稿のfetchタイムアウトを10分に延長
  apps/frontend/app/streamlined-creator/page.tsx
Labels: frontend

fix: 複数動画を1本ずつDL&出稿してOOM防止
  apps/backend/src/streamlined-creator/gigafile.service.ts
  apps/backend/src/streamlined-creator/streamlined-creator.service.ts
Labels: backend

fix: ワンストップ出稿をフロントから1本ずつAPI呼び出しに変更（300秒タイムアウト対策）
  apps/backend/src/streamlined-creator/streamlined-creator.controller.ts
  apps/backend/src/streamlined-creator/streamlined-creator.service.ts
  apps/backend/src/streamlined-creator/types.ts
  apps/frontend/app/streamlined-creator/page.tsx
Labels: backend, frontend

fix: CR名を任意入力に変更（空欄なら動画ファイル名から自動取得）
  apps/frontend/app/streamlined-creator/page.tsx
Labels: frontend

fix: CR名入力欄を削除（動画ファイル名から自動取得に統一）
  apps/frontend/app/streamlined-creator/page.tsx
Labels: frontend

fix: キャンペーン予算(CBO)の予算調整・日予算リセットに対応
  apps/backend/prisma/schema.prisma
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/jobs/jobs.controller.ts
  apps/backend/src/jobs/scheduler.service.ts
Labels: backend, database

fix: 制作者別停止率でChangeLogだけでなく現在のstatusも判定に使用
  apps/backend/src/creator-stop-rate/creator-stop-rate.service.ts
Labels: backend

fix: 停止率でDISABLE系ステータス全対応 + 最高日予算30万円上限追加
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/budget-optimization-v2/types.ts
  apps/backend/src/creator-stop-rate/creator-stop-rate.service.ts
Labels: backend

feat: Entity Syncで手動停止を検知しChangeLogに記録
  apps/backend/src/jobs/scheduler.service.ts
Labels: backend

feat: AI導線ディープファネル最適化 + 横展開の通常広告対応・CBO対応
  apps/backend/batch-cross-deploy.ts
  apps/backend/cross-deploy-local.ts
  apps/backend/daily-ops-rules.md
  apps/backend/redeploy-ad.ts
  apps/backend/src/campaign-builder/campaign-builder.service.ts
  apps/backend/src/cross-deploy/cross-deploy.service.ts
  apps/backend/src/streamlined-creator/streamlined-creator.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
  apps/backend/src/utage/utage.types.ts
Labels: backend, documentation

fix: Smart+ API予算更新失敗時に通常APIへフォールバック + リセットエラーをChangeLogに記録
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

fix: Smart+ AdGroup作成時にdeep_funnel_toggle: ONを追加
  apps/backend/cross-deploy-local.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: ディープファネル最適化をUpgraded Smart+ API正しいパラメータに修正
  apps/backend/cross-deploy-local.ts
  apps/backend/src/cross-deploy/cross-deploy.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
  apps/backend/src/utage/utage.types.ts
Labels: backend

docs: AI導線フロント転換率の変数分析結果とA/Bテスト設計を記録
  docs/knowledge/2026-04-05_フロント転換率_変数分析_ABテスト設計.md
Labels: documentation

fix: 日予算リセットを常にチャネルデフォルト予算に変更（initialBudget依存を廃止）
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

fix: Smart+広告グループに手動ターゲティング強制 + DF最適化をdeel_external_actionに統一
  apps/backend/cross-deploy-local.ts
  apps/backend/redeploy-ad.ts
  apps/backend/src/cross-deploy/cross-deploy.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
  apps/backend/src/utage/utage.types.ts
Labels: backend

fix: Smart+ BUDGET_MODE_DYNAMIC_DAILY_BUDGET予算自動拡張対策
  apps/backend/redeploy-ad.ts
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
  docs/knowledge/2026-04-08_スマプラ作成ルール.md
  docs/knowledge/2026-04-09_動的日予算問題と対策.md
Labels: backend, documentation

fix: TikTok API取得メソッド4つをページネーション対応（100件超の広告漏れ修正）
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

feat: 予算異常検知モニタリング機能を追加（毎時自動チェック）
  .github/workflows/budget-monitoring.yml
  apps/backend/src/app.module.ts
  apps/backend/src/budget-monitoring/budget-monitoring.controller.ts
  apps/backend/src/budget-monitoring/budget-monitoring.module.ts
  apps/backend/src/budget-monitoring/budget-monitoring.service.ts
Labels: backend, ci/cd

fix: Snapshot保存を予算変更前に実行（無限増額バグ防止）
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

fix: ChangeLog保存失敗がV2スナップショット・予算処理を止めるバグを修正
  apps/backend/redeploy-ad.ts
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

fix: V2全エラーパスの網羅的ハンドリング追加
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

feat: V2予算調整エラー時のSlack通知を追加
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

feat: V2エラー通知をLINE Messaging APIに変更（AI秘書経由）
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

fix: Vercelビルドエラー修正（デバッグスクリプトをexclude + MonitorResult export）
  apps/backend/src/budget-monitoring/budget-monitoring.service.ts
  apps/backend/tsconfig.json
Labels: backend

fix: Vercelビルドエラー修正 + Smart+キャンペーン内の通常広告を二重評価しない
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/tsconfig.build.json
  apps/backend/tsconfig.json
Labels: backend

fix: スナップショット保持日数を730日→14日に修正（Neon 512MB上限対策）
  apps/backend/src/budget-optimization-v2/types.ts
Labels: backend

fix: Smart+広告グループの予算取得をSmart+ APIで補完（V2予算調整）
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: Smart+ adgroup予算取得にページネーション追加（budget=0バグ修正）
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: 予算リセットをアカウント個別呼び出しに変更（タイムアウト防止）
  .github/workflows/budget-reset-midnight.yml
Labels: ci/cd

perf: ad-performance findManyのinclude→select化で転送量削減
  apps/backend/src/ad-performance/ad-performance.service.ts
Labels: backend

perf: budget-optimization-v2のfindManyにselect追加で転送量削減
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

feat: redeploy-ad.tsに動画名による除外機能追加
  apps/backend/redeploy-ad.ts
Labels: backend

fix: CR番号重複の根本対策（予約テーブルによる原子採番）
  apps/backend/create-smartplus-multi.ts
  apps/backend/cross-deploy-local.ts
  apps/backend/prisma/schema.prisma
  apps/backend/redeploy-ad.ts
  apps/backend/src/utage/cr-reservation.ts
  apps/backend/src/utage/utage.service.ts
Labels: backend, database

fix: TikTok APIエラーの詳細（message/code/request_id）をログに出す
  apps/backend/src/common/utils/tiktok-error.util.ts
Labels: backend

debug: 400エラー時に生レスポンス/リクエスト詳細をダンプ
  apps/backend/src/common/utils/tiktok-error.util.ts
Labels: backend

fix: getCampaigns/getAdGroupsのcampaign_idsをチャンク分割してAkamai 400回避
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

feat: cross-deploy-localに--limit=Nオプション追加（テスト出稿用）
  apps/backend/cross-deploy-local.ts
Labels: backend

.github/labeler.yml:

# Pull Request Auto Labeler Configuration

'backend':
  - apps/backend/**/*

'frontend':
  - apps/frontend/**/*

'shared-types':
  - packages/shared-types/**/*

'dependencies':
  - package.json
  - package-lock.json
  - apps/*/package.json
  - packages/*/package.json

'documentation':
  - docs/**/*
  - '**/*.md'

'ci/cd':
  - .github/workflows/**/*
  - .github/**/*

'docker':
  - docker-compose.yml
  - Dockerfile
  - docker/**/*

'database':
  - apps/backend/prisma/**/*
  - docker/postgres/**/*
