Repository addness-adteam/TikTok-ads-automation, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, shared-types, dependencies, documentation, ci/cd, docker, database

.github/labeler.yml:

# Pull Request Auto Labeler Configuration

'backend':
  - apps/backend/**/*

'frontend':
  - apps/frontend/**/*

'shared-types':
  - packages/shared-types/**/*

'dependencies':
  - package.json
  - package-lock.json
  - apps/*/package.json
  - packages/*/package.json

'documentation':
  - docs/**/*
  - '**/*.md'

'ci/cd':
  - .github/workflows/**/*
  - .github/**/*

'docker':
  - docker-compose.yml
  - Dockerfile
  - docker/**/*

'database':
  - apps/backend/prisma/**/*
  - docker/postgres/**/*

fix: Accept 2xx status codes as success in daily metrics workflow
  .github/workflows/daily-metrics.yml
Labels: ci/cd

feat: Add diagnostics endpoint for data collection monitoring
  apps/backend/src/jobs/jobs.controller.ts
Labels: backend

feat: Add endpoint to update OAuth token expiry for permanent tokens
  apps/backend/src/jobs/jobs.controller.ts
Labels: backend

fix: Set permanent token expiresAt to 2099 instead of 24 hours
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

feat: Change daily metrics collection to fetch last 7 days instead of previous day
  apps/backend/src/jobs/scheduler.service.ts
Labels: backend

feat: Add entity check endpoint to diagnose TikTok API data
  apps/backend/src/jobs/jobs.controller.ts
Labels: backend

feat: Add advertiser-specific diagnostic endpoints
  apps/backend/src/jobs/jobs.controller.ts
Labels: backend

feat: Add token scope checking endpoint
  apps/backend/src/jobs/jobs.controller.ts
Labels: backend

fix: Add type annotation to parsedScope to fix TypeScript error
  apps/backend/src/jobs/jobs.controller.ts
Labels: backend

debug: Add full API response logging for report endpoint
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: Add required report_type parameter to TikTok report API
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: Stringify array parameters for TikTok report API
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: Remove invalid metric fields from report API request
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

feat: Add sync-entities endpoint to import existing TikTok campaigns/adgroups/ads
  apps/backend/src/jobs/jobs.controller.ts
Labels: backend

fix: Fix TypeScript errors in sync-entities endpoint
  apps/backend/src/jobs/jobs.controller.ts
Labels: backend

fix: Ensure Advertiser record exists before syncing campaigns
  apps/backend/src/jobs/jobs.controller.ts
Labels: backend

fix: Use Advertiser UUID instead of TikTok advertiser ID for foreign keys
  apps/backend/src/jobs/jobs.controller.ts
Labels: backend

fix: Use Campaign and AdGroup UUIDs for foreign key references
  apps/backend/src/jobs/jobs.controller.ts
Labels: backend

fix: Add entity IDs to report dimensions for proper metric saving
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: Use partial unique indexes for metric constraints
  apps/backend/prisma/migrations/20251108103126_fix_metric_unique_constraints/migration.sql
  apps/backend/prisma/schema.prisma
Labels: backend, database

fix: Implement caching to resolve Google Sheets API rate limit errors
  apps/backend/src/google-sheets/google-sheets.service.ts
  apps/backend/src/optimization/optimization.service.ts
Labels: backend

fix: Replace upsert with manual findFirst + update/create for metrics
  apps/backend/prisma/schema.prisma
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend, database

fix: CPA=0の場合は停止判定にする
  apps/backend/src/optimization/optimization.service.ts
Labels: backend

feat: 評価期間デバッグエンドポイントを追加
  apps/backend/src/optimization/optimization.controller.ts
  apps/backend/src/optimization/optimization.service.ts
Labels: backend

fix: 評価期間のendDateを23:59:59に設定
  apps/backend/src/optimization/optimization.service.ts
Labels: backend

feat: TikTok API実行時の詳細ログとエラーハンドリングを追加
  apps/backend/src/optimization/optimization.service.ts
Labels: backend

fix: 広告停止と予算増額の修正
  apps/backend/src/optimization/optimization.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: 広告停止機能の修正 - 専用ステータス更新エンドポイント使用
  apps/backend/src/optimization/optimization.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: Creative APIレスポンス形式を統一
  apps/backend/src/creative/creative.controller.ts
  apps/frontend/app/creatives/page.tsx
Labels: backend, frontend

feat: Creativeアップロード機能を改善 - UPLOAD_BY_FILE方式に変更
  apps/backend/src/creative/creative.service.ts
Labels: backend

fix: TikTok動画アップロード時の日本語ファイル名文字化け問題を修正
  apps/backend/src/creative/creative.service.ts
Labels: backend

fix: Campaign Builder機能の修正 - Advertiser UUID対応とbilling_event追加
  apps/backend/src/campaign-builder/campaign-builder.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: TikTok API v1.3対応 - call_to_action_idとimage_ids修正
  apps/backend/src/campaign-builder/campaign-builder.service.ts
  apps/backend/src/creative/creative.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

feat: Campaign Builder - Pixel選択と日予算入力機能を追加
  apps/backend/src/app.module.ts
  apps/backend/src/campaign-builder/campaign-builder.controller.ts
  apps/backend/src/pixels/pixels.controller.ts
  apps/backend/src/pixels/pixels.module.ts
  apps/backend/src/tiktok/tiktok.service.ts
  apps/frontend/app/campaign-builder/page.tsx
Labels: backend, frontend

fix: Campaign Builder - APIレスポンス形式に対応
  apps/frontend/app/campaign-builder/page.tsx
Labels: frontend

fix: 日予算入力のstep属性を修正
  apps/frontend/app/campaign-builder/page.tsx
Labels: frontend

feat: Creative アップロード - フロントエンドから直接TikTok APIへアップロード実装
  apps/backend/src/creative/creative.controller.ts
  apps/backend/src/creative/creative.service.ts
  apps/frontend/app/creatives/page.tsx
Labels: backend, frontend

fix: Creative アップロード - MD5計算をspark-md5に変更
  apps/frontend/app/creatives/page.tsx
  apps/frontend/package.json
Labels: frontend, dependencies

fix: spark-md5の型定義ファイルを追加
  apps/frontend/package.json
Labels: frontend, dependencies

fix: AdGroup location targeting - change from US to Japan
  apps/backend/src/campaign-builder/campaign-builder.service.ts
Labels: backend
