Repository addness-adteam/TikTok-ads-automation, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, shared-types, dependencies, documentation, ci/cd, docker, database

.github/labeler.yml:

# Pull Request Auto Labeler Configuration

'backend':
  - apps/backend/**/*

'frontend':
  - apps/frontend/**/*

'shared-types':
  - packages/shared-types/**/*

'dependencies':
  - package.json
  - package-lock.json
  - apps/*/package.json
  - packages/*/package.json

'documentation':
  - docs/**/*
  - '**/*.md'

'ci/cd':
  - .github/workflows/**/*
  - .github/**/*

'docker':
  - docker-compose.yml
  - Dockerfile
  - docker/**/*

'database':
  - apps/backend/prisma/**/*
  - docker/postgres/**/*

fix: cheerio依存を削除し正規表現に置換（Vercelビルドエラー修正）
  apps/backend/package.json
  apps/backend/src/utage/utage.service.ts
Labels: backend, dependencies

feat: ワンストップ出稿機能を実装（ギガファイル便→TikTok広告作成の全自動化）
  apps/backend/src/app.module.ts
  apps/backend/src/streamlined-creator/constants.ts
  apps/backend/src/streamlined-creator/gigafile.service.ts
  apps/backend/src/streamlined-creator/streamlined-creator.controller.ts
  apps/backend/src/streamlined-creator/streamlined-creator.module.ts
  apps/backend/src/streamlined-creator/streamlined-creator.service.ts
  apps/backend/src/streamlined-creator/types.ts
  apps/backend/src/tiktok/tiktok.service.ts
  apps/frontend/app/streamlined-creator/page.tsx
  apps/frontend/components/layout/Sidebar.tsx
Labels: backend, frontend

fix: UTAGE CR番号取得で手動登録経路を除外（5桁ゼロ埋め形式のみマッチ）
  apps/backend/redeploy-ad.ts
  apps/backend/src/utage/utage.service.ts
Labels: backend

fix: 年齢ターゲティングを25〜54歳に変更（全導線共通）
  apps/backend/redeploy-ad.ts
  apps/backend/src/cross-deploy/cross-deploy.service.ts
Labels: backend

feat: 横展開で画像/カルーセル広告に対応 + redeploy-ad.ts改善
  apps/backend/redeploy-ad.ts
  apps/backend/src/cross-deploy/cross-deploy.service.ts
  apps/backend/src/cross-deploy/types.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: 横展開で動画+画像混合のSmart+広告に対応
  apps/backend/cross-deploy-cr00494.ts
  apps/backend/src/cross-deploy/cross-deploy.service.ts
Labels: backend

fix: UTAGE認証のフォールバック値を追加（環境変数未設定時）
  apps/backend/src/utage/utage.service.ts
Labels: backend

feat: Smart+画像広告の横展開をローカルスクリプトで実現
  apps/backend/cross-deploy-local.ts
  apps/backend/src/cross-deploy/cross-deploy.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

feat: 利益最大化シミュレーション＆ボトルネック特定機能（DDD+TDD）
  .github/workflows/profit-simulation.yml
  apps/backend/prisma/schema.prisma
  apps/backend/src/app.module.ts
  apps/backend/src/profit-simulation/domain/bottleneck-detection.spec.ts
  apps/backend/src/profit-simulation/domain/bottleneck-detection.ts
  apps/backend/src/profit-simulation/domain/direction-judgment.spec.ts
  apps/backend/src/profit-simulation/domain/direction-judgment.ts
  apps/backend/src/profit-simulation/domain/funnel-model.spec.ts
  apps/backend/src/profit-simulation/domain/funnel-model.ts
  apps/backend/src/profit-simulation/domain/ports.ts
  apps/backend/src/profit-simulation/domain/profit-simulation.spec.ts
  apps/backend/src/profit-simulation/domain/profit-simulation.ts
  apps/backend/src/profit-simulation/domain/todo-generation.spec.ts
  apps/backend/src/profit-simulation/domain/todo-generation.ts
  apps/backend/src/profit-simulation/domain/types.ts
  apps/backend/src/profit-simulation/domain/variable-identification.spec.ts
  apps/backend/src/profit-simulation/domain/variable-identification.ts
  apps/backend/src/profit-simulation/infrastructure/database-winning-creative-source.ts
  apps/backend/src/profit-simulation/infrastructure/file-rule-store.ts
  apps/backend/src/profit-simulation/infrastructure/kpi-value-parser.spec.ts
  apps/backend/src/profit-simulation/infrastructure/kpi-value-parser.ts
  apps/backend/src/profit-simulation/infrastructure/markdown-report-output.ts
  apps/backend/src/profit-simulation/infrastructure/prisma-todo-repository.ts
  apps/backend/src/profit-simulation/infrastructure/spreadsheet-metrics-data-source.ts
  apps/backend/src/profit-simulation/profit-simulation.controller.ts
  apps/backend/src/profit-simulation/profit-simulation.module.ts
  apps/backend/src/profit-simulation/profit-simulation.service.ts
  docs/PROFIT_SIMULATION_SPEC.md
  docs/knowledge/2026-03-22_profit-simulation-test-result.md
Labels: backend, documentation, ci/cd, database

fix: TikTok API createAdGroup/createCampaign/createAdのビジネスエラー検知
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: 横展開の広告設定を正しく適用（年齢25-54/TikTokのみ/コメントオフ/除外オーディエンス）
  apps/backend/cross-deploy-local.ts
  apps/backend/daily-ops-rules.md
  apps/backend/daily-ops-todo.ts
  apps/backend/src/cross-deploy/cross-deploy.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend, documentation

fix: profit-simulationのTypeScriptビルドエラーを修正
  apps/backend/src/profit-simulation/infrastructure/spreadsheet-metrics-data-source.ts
  apps/backend/src/profit-simulation/profit-simulation.service.ts
Labels: backend

fix: ⑨ボトルネック分析をprofit-simulationドメインロジックに差し替え
  apps/backend/daily-ops-todo.ts
Labels: backend

feat: 広告効果測定ドメインロジック（TDD）
  apps/backend/src/ad-evaluation/domain/evaluate-ad.spec.ts
  apps/backend/src/ad-evaluation/domain/evaluate-ad.ts
  apps/backend/src/ad-evaluation/domain/types.ts
Labels: backend

feat: ⑩停止CR自動効果測定をdaily-ops-todoに組み込み
  apps/backend/daily-ops-todo.ts
Labels: backend

feat: 仮説検証トラッカー（HypothesisTest）- DBテーブル＋ドメインロジック
  apps/backend/prisma/schema.prisma
  apps/backend/src/ad-evaluation/domain/hypothesis-tracker.spec.ts
  apps/backend/src/ad-evaluation/domain/hypothesis-tracker.ts
  apps/backend/src/ad-evaluation/domain/types.ts
Labels: backend, database

feat: 仮説検証の自動追跡をdaily-ops + 横展開に統合
  apps/backend/cross-deploy-local.ts
  apps/backend/daily-ops-todo.ts
  apps/backend/src/ad-evaluation/infrastructure/prisma-hypothesis-repository.ts
Labels: backend

fix: Smart+ Ad APIのoperation_statusフィルタをサーバーサイドに移行
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/intraday-optimization/intraday-optimization.service.ts
  apps/backend/src/optimization/optimization.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

feat: 予算調整V2で通常広告もサポート
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/budget-optimization-v2/types.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

feat: 横展開/再出稿を常にSmart+で出稿するよう変更
  apps/backend/redeploy-ad.ts
  apps/backend/src/cross-deploy/cross-deploy.service.ts
Labels: backend

fix: ワンストップ出稿画面のAPIレスポンス形式不整合を修正
  apps/frontend/app/streamlined-creator/page.tsx
Labels: frontend

fix: Smart+ API非対応アカウント(SP2/SP3)で予算調整がスキップされるバグを修正
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

fix: 日次運用OSの個別予約数を個別予約シートから直接取得するよう修正
  apps/backend/daily-ops-todo.ts
Labels: backend

fix: 運用OS出力にクリエイティブ名を表示（R008対応）
  apps/backend/daily-ops-todo.ts
Labels: backend

fix: ⑦個別予約CPOでPAUSE済みCRの消化データも取得するよう修正
  apps/backend/daily-ops-todo.ts
Labels: backend

fix: GitHub Actions予算調整V2のCron対象にSP2/SP3を追加
  .github/workflows/budget-optimization-v2.yml
Labels: ci/cd

feat: 予算調整V2の対象アカウントをDBから動的取得に変更
  .github/workflows/budget-optimization-v2.yml
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.controller.ts
Labels: backend, ci/cd

fix: 再出稿スクリプトに除外オーディエンス設定とターゲティング検証を追加
  apps/backend/redeploy-ad.ts
Labels: backend

fix: schedule_start_timeをUTCで送信（9時間ずれバグ修正）
  apps/backend/redeploy-ad.ts
  apps/backend/redeploy-cr01074-lp2.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: 運用OS改善 + ギガファイル便AJAX DL対応
  apps/backend/daily-ops-todo.ts
  apps/backend/src/streamlined-creator/gigafile.service.ts
Labels: backend

fix: カバー画像URL取得にリトライ追加（動画処理待ち対応）
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: ギガファイル便DLをセッションcookie方式に修正
  apps/backend/src/streamlined-creator/gigafile.service.ts
  apps/backend/src/streamlined-creator/streamlined-creator.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: brand_safety_typeを削除（ホワイトリスト限定パラメータ）
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

feat: ギガファイル便の複数動画を一括出稿（1-1-1構造）
  apps/backend/src/streamlined-creator/streamlined-creator.controller.ts
  apps/backend/src/streamlined-creator/streamlined-creator.service.ts
  apps/backend/src/streamlined-creator/types.ts
Labels: backend

fix: create-singleで複数ファイル検出時に自動一括出稿
  apps/backend/src/streamlined-creator/streamlined-creator.service.ts
Labels: backend

fix: 広告名の日付を配信開始日に変更 + CR名を動画ファイル名から自動抽出
  apps/backend/src/streamlined-creator/gigafile.service.ts
  apps/backend/src/streamlined-creator/streamlined-creator.service.ts
  apps/backend/src/streamlined-creator/types.ts
Labels: backend

fix: ワンストップ出稿の配信開始時刻と除外オーディエンスを修正
  apps/backend/src/streamlined-creator/streamlined-creator.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: selectドロップダウンの白背景に白文字問題を修正
  apps/frontend/app/streamlined-creator/page.tsx
Labels: frontend

fix: selectオプションにinline styleで色を強制指定
  apps/frontend/app/streamlined-creator/page.tsx
Labels: frontend

fix: schedule_typeをSCHEDULE_FROM_NOWに戻す
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend
