Repository addness-adteam/TikTok-ads-automation, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, shared-types, dependencies, documentation, ci/cd, docker, database

.github/labeler.yml:

# Pull Request Auto Labeler Configuration

'backend':
  - apps/backend/**/*

'frontend':
  - apps/frontend/**/*

'shared-types':
  - packages/shared-types/**/*

'dependencies':
  - package.json
  - package-lock.json
  - apps/*/package.json
  - packages/*/package.json

'documentation':
  - docs/**/*
  - '**/*.md'

'ci/cd':
  - .github/workflows/**/*
  - .github/**/*

'docker':
  - docker-compose.yml
  - Dockerfile
  - docker/**/*

'database':
  - apps/backend/prisma/**/*
  - docker/postgres/**/*

fix: Smart+メトリクス同期を1日窓に変更（ゾンビMetricバグ修正）
  apps/backend/src/jobs/scheduler.service.ts
Labels: backend

feat: run-daily-report のレスポンスに詳細結果を含める
  apps/backend/src/jobs/jobs.controller.ts
  apps/backend/src/jobs/scheduler.service.ts
Labels: backend

fix: parseStatDateで "YYYY-MM-DD HH:MM:SS" 形式も許容（通常広告Metric全滅バグ修正）
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

perf: 日次エンティティ同期のN+1クエリ削減（Map事前取得化）
  apps/backend/src/jobs/scheduler.service.ts
Labels: backend

perf: snapshot保持日数 14→7日に短縮（Neon 512MB上限対策）
  apps/backend/src/budget-optimization-v2/types.ts
Labels: backend

feat: セミナー着座CPOアラート機能 Phase 1 (要件定義 + ドメイン層)
  apps/backend/prisma/schema.prisma
  apps/backend/src/seminar-attendance-alert/domain/entities/ad-under-evaluation.spec.ts
  apps/backend/src/seminar-attendance-alert/domain/entities/ad-under-evaluation.ts
  apps/backend/src/seminar-attendance-alert/domain/services/alert-rule-evaluator.spec.ts
  apps/backend/src/seminar-attendance-alert/domain/services/alert-rule-evaluator.ts
  apps/backend/src/seminar-attendance-alert/domain/value-objects/allowable-seminar-seat-cpo.spec.ts
  apps/backend/src/seminar-attendance-alert/domain/value-objects/allowable-seminar-seat-cpo.ts
  apps/backend/src/seminar-attendance-alert/domain/value-objects/delivery-period.spec.ts
  apps/backend/src/seminar-attendance-alert/domain/value-objects/delivery-period.ts
  apps/backend/src/seminar-attendance-alert/domain/value-objects/jpy.spec.ts
  apps/backend/src/seminar-attendance-alert/domain/value-objects/jpy.ts
  docs/SEMINAR_ATTENDANCE_ALERT_SPEC.md
Labels: backend, documentation, database

feat: セミナー着座CPOアラート Phase 2 部分 (インフラ層コア3要素)
  apps/backend/src/seminar-attendance-alert/infrastructure/alert-history-repository.ts
  apps/backend/src/seminar-attendance-alert/infrastructure/allowable-cpo-resolver.spec.ts
  apps/backend/src/seminar-attendance-alert/infrastructure/allowable-cpo-resolver.ts
  apps/backend/src/seminar-attendance-alert/infrastructure/line-notifier.spec.ts
  apps/backend/src/seminar-attendance-alert/infrastructure/line-notifier.ts
  apps/backend/src/seminar-attendance-alert/infrastructure/opt-latest-path-reader.spec.ts
  apps/backend/src/seminar-attendance-alert/infrastructure/opt-latest-path-reader.ts
Labels: backend

feat: セミナー着座CPOアラート Phase 2-4 (全レイヤー揃う)
  .github/workflows/seminar-attendance-alert.yml
  apps/backend/src/app.module.ts
  apps/backend/src/seminar-attendance-alert/application/seminar-attendance-alert.usecase.ts
  apps/backend/src/seminar-attendance-alert/domain/services/attendance-count-service.spec.ts
  apps/backend/src/seminar-attendance-alert/domain/services/attendance-count-service.ts
  apps/backend/src/seminar-attendance-alert/infrastructure/lstep-attendance-csv-parser.spec.ts
  apps/backend/src/seminar-attendance-alert/infrastructure/lstep-attendance-csv-parser.ts
  apps/backend/src/seminar-attendance-alert/infrastructure/lstep-scraper.ts
  apps/backend/src/seminar-attendance-alert/infrastructure/reservation-survey-reader.spec.ts
  apps/backend/src/seminar-attendance-alert/infrastructure/reservation-survey-reader.ts
  apps/backend/src/seminar-attendance-alert/seminar-attendance-alert.controller.ts
  apps/backend/src/seminar-attendance-alert/seminar-attendance-alert.module.ts
  package.json
  scripts/fetch-lstep-and-alert.ts
Labels: backend, dependencies, ci/cd

fix: NestJS DI解決失敗でVercel全エンドポイント500になるバグ修正
  apps/backend/src/seminar-attendance-alert/application/seminar-attendance-alert.usecase.ts
Labels: backend

chore: package-lock.json更新（playwright + tsx追加分）
  package-lock.json
Labels: dependencies

fix: Lステップスクレイパーの waitUntil を domcontentloaded に変更
  apps/backend/src/seminar-attendance-alert/infrastructure/lstep-scraper.ts
Labels: backend

debug: Lステップスクレイパーにページ診断情報ダンプ追加
  apps/backend/src/seminar-attendance-alert/infrastructure/lstep-scraper.ts
Labels: backend

feat: Lステップscraperに実UIベースのセレクタ + reCAPTCHA突破 + 非同期DL対応
  apps/backend/src/seminar-attendance-alert/infrastructure/lstep-scraper.ts
Labels: backend

feat: Lステップ認証を storageState 方式に切替（GitHub Actions対応）
  .github/workflows/seminar-attendance-alert.yml
  .gitignore
  apps/backend/src/seminar-attendance-alert/infrastructure/lstep-scraper.ts
  scripts/capture-lstep-session.ts
Labels: backend, ci/cd

test: NestJS bootstrap test + 定時ジョブ失敗通知 + post-deploy smoke test
  .github/workflows/_notify-line-failure.yml
  .github/workflows/budget-reset-midnight.yml
  .github/workflows/ci.yml
  .github/workflows/daily-metrics.yml
  .github/workflows/post-deploy-smoke.yml
  apps/backend/src/app.module.spec.ts
Labels: backend, ci/cd

fix: CI失敗修正 (bootstrap test + frontend lint)
  apps/backend/src/app.module.spec.ts
  package-lock.json
  package.json
Labels: backend, dependencies

fix: frontend eslint を 9.36.0 にピン留め (workspace配下で明示)
  apps/frontend/package.json
  package-lock.json
Labels: frontend, dependencies

fix: package-lock.json完全再生成 (eslint 9.36 pin反映)
  package-lock.json
Labels: dependencies

fix: CI の残課題3つを解消
  .github/workflows/ci.yml
  apps/frontend/package.json
  package-lock.json
  package.json
  packages/shared-types/tsconfig.tsbuildinfo
Labels: frontend, shared-types, dependencies, ci/cd

feat: 実験A出稿ツール + スパイク条件ナレッジ
  apps/backend/cross-deploy-local.ts
  apps/backend/experiment-a-deploy.ts
  apps/backend/pause-campaigns.ts
  docs/hypothesis/hypothesis_experiment_A_creative_count.md
  docs/knowledge/2026-04-15_スパイク条件分析_AI導線.md
Labels: backend, documentation

feat: V2予算最適化ワークフローを3グループに分割（AI/SP/SNS）
  .github/workflows/budget-optimization-v2-group-b.yml
  .github/workflows/budget-optimization-v2-group-c.yml
Labels: ci/cd

fix: Lステップ CSVエクスポート遷移をフォーム直接submit化
  apps/backend/src/seminar-attendance-alert/infrastructure/lstep-scraper.ts
Labels: backend

feat: 着座データソースをPlaywrightスクレイピング→Google Sheets手動貼り付けに変更
  .github/workflows/seminar-attendance-alert.yml
  apps/backend/src/seminar-attendance-alert/application/seminar-attendance-alert.usecase.ts
  apps/backend/src/seminar-attendance-alert/domain/services/attendance-count-service.spec.ts
  apps/backend/src/seminar-attendance-alert/domain/services/attendance-count-service.ts
  apps/backend/src/seminar-attendance-alert/infrastructure/attendance-line-name-reader.spec.ts
  apps/backend/src/seminar-attendance-alert/infrastructure/attendance-line-name-reader.ts
  apps/backend/src/seminar-attendance-alert/infrastructure/lstep-attendance-csv-parser.spec.ts
  apps/backend/src/seminar-attendance-alert/infrastructure/lstep-attendance-csv-parser.ts
  apps/backend/src/seminar-attendance-alert/infrastructure/lstep-scraper.ts
  apps/backend/src/seminar-attendance-alert/infrastructure/reservation-survey-reader.spec.ts
  apps/backend/src/seminar-attendance-alert/infrastructure/reservation-survey-reader.ts
  apps/backend/src/seminar-attendance-alert/seminar-attendance-alert.controller.ts
  apps/backend/src/seminar-attendance-alert/seminar-attendance-alert.module.ts
  scripts/capture-lstep-session.ts
  scripts/fetch-lstep-and-alert.ts
Labels: backend, ci/cd

fix: 着座シートのLINE登録名をC列(index=2)から読む
  apps/backend/src/seminar-attendance-alert/infrastructure/attendance-line-name-reader.spec.ts
  apps/backend/src/seminar-attendance-alert/infrastructure/attendance-line-name-reader.ts
Labels: backend

fix: Vercelビルド失敗を解消（_archive除外とsrc型エラー3件）
  apps/backend/src/budget-monitoring/budget-monitoring.service.ts
  apps/backend/src/cross-deploy/cross-deploy.service.ts
  apps/backend/src/intraday-optimization/intraday-optimization.service.ts
  apps/backend/tsconfig.build.json
Labels: backend

feat: アラート発火広告の詳細をレスポンスに含める
  apps/backend/src/seminar-attendance-alert/application/seminar-attendance-alert.usecase.ts
Labels: backend

fix: lockfileにLinux用ネイティブバイナリを追加（Vercelビルド修正）
  package-lock.json
Labels: dependencies

feat: 予算リセットのフォールバック機構 + Vercelビルド修正
  .github/workflows/budget-reset-fallback.yml
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.controller.ts
  apps/frontend/vercel.json
  vercel.json
Labels: backend, frontend, ci/cd

fix: reset-status-todayのJST日付計算バグを修正
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.controller.ts
Labels: backend

fix: リセットロジック改善 + フォールバック判定修正
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.controller.ts
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

fix: Vercel installCommandをrm -rf node_modules && npm installに変更
  apps/frontend/vercel.json
  vercel.json
Labels: frontend

fix: Smart+ APIのoperation_statusフィルタ不具合をコード側で二重チェック
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

fix: 通常広告側もENABLEフィルタ + Smart+キャンペーン除外をフィルタ前全件で実施
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

fix: lockfileに@tailwindcss/oxide, @unrs/resolverのLinux x64バイナリ追加
  package-lock.json
Labels: dependencies

fix: YAML構文エラー解消（複数行文字列をprintfに変更）
  .github/workflows/budget-reset-fallback.yml
  .github/workflows/budget-reset-midnight.yml
Labels: ci/cd

fix: 予算リセットのcurlタイムアウトを30秒→180秒に延長
  .github/workflows/budget-reset-midnight.yml
Labels: ci/cd

fix: 予算リセットのsilent fail対策（消化額超過時は消化×1.2に設定）
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

feat: セミナー導線の予算増額を¥7万超で+1万刻みに変更（CPA悪化防止）
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/budget-optimization-v2/types.ts
Labels: backend

feat: セミナー導線の当日CPA>目標CPAゲートを撤廃
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

revert: セミナー導線でも当日CPA>目標CPAゲートを維持（初期実装通り）
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend
