Repository addness-adteam/TikTok-ads-automation, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, shared-types, dependencies, documentation, ci/cd, docker, database

.github/labeler.yml:

# Pull Request Auto Labeler Configuration

'backend':
  - apps/backend/**/*

'frontend':
  - apps/frontend/**/*

'shared-types':
  - packages/shared-types/**/*

'dependencies':
  - package.json
  - package-lock.json
  - apps/*/package.json
  - packages/*/package.json

'documentation':
  - docs/**/*
  - '**/*.md'

'ci/cd':
  - .github/workflows/**/*
  - .github/**/*

'docker':
  - docker-compose.yml
  - Dockerfile
  - docker/**/*

'database':
  - apps/backend/prisma/**/*
  - docker/postgres/**/*

feat: 広告パフォーマンス最適化機能のバックエンド実装
  apps/backend/prisma/schema.prisma
  apps/backend/src/ad-performance/ad-budget-cap.controller.ts
  apps/backend/src/ad-performance/ad-budget-cap.service.ts
  apps/backend/src/ad-performance/ad-performance.controller.ts
  apps/backend/src/ad-performance/ad-performance.module.ts
  apps/backend/src/ad-performance/ad-performance.service.ts
  apps/backend/src/app.module.ts
  apps/backend/src/jobs/jobs.module.ts
  apps/backend/src/jobs/scheduler.service.ts
  apps/backend/src/notification/notification.controller.ts
  apps/backend/src/notification/notification.module.ts
  apps/backend/src/notification/notification.service.ts
  apps/backend/src/optimization/optimization.module.ts
  apps/backend/src/optimization/optimization.service.ts
  docs/REQUIREMENTS_CR_PERFORMANCE_OPTIMIZATION.md
Labels: backend, documentation, database

feat: 広告パフォーマンス最適化機能のフロントエンド実装
  apps/frontend/app/ad-performance/budget-caps/page.tsx
  apps/frontend/app/ad-performance/page.tsx
  apps/frontend/components/layout/Sidebar.tsx
  apps/frontend/components/notifications/NotificationPanel.tsx
  apps/frontend/lib/api.ts
Labels: frontend

fix: 広告パフォーマンス画面にアカウント選択機能を追加
  apps/frontend/app/ad-performance/budget-caps/page.tsx
  apps/frontend/app/ad-performance/page.tsx
Labels: frontend

fix: APIエンドポイントにapi/プレフィックスを追加
  apps/backend/src/ad-performance/ad-budget-cap.controller.ts
  apps/backend/src/ad-performance/ad-performance.controller.ts
  apps/backend/src/notification/notification.controller.ts
  apps/frontend/lib/api.ts
Labels: backend, frontend

fix: vercel.jsonのbuildsとfunctionsの競合を解消
  apps/backend/vercel.json
Labels: backend

feat: エラーハンドリング用のcommon/utilsモジュールを追加
  apps/backend/src/common/utils/batch-error.util.ts
  apps/backend/src/common/utils/database-error.util.ts
  apps/backend/src/common/utils/env-validation.util.ts
  apps/backend/src/common/utils/google-sheets-error.util.ts
  apps/backend/src/common/utils/index.ts
  apps/backend/src/common/utils/optimization-error.util.ts
  apps/backend/src/common/utils/retry.util.ts
  apps/backend/src/common/utils/tiktok-error.util.ts
Labels: backend

fix: 緊急度の高いシステム安定性問題を修正
  apps/backend/src/jobs/scheduler.service.ts
  apps/backend/src/main.ts
  apps/backend/src/optimization/optimization.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
  docs/ERROR_HANDLING_REQUIREMENTS.md
Labels: backend, documentation

fix: Google Sheets列位置検出の期待値リストを拡張
  apps/backend/src/google-sheets/google-sheets.service.ts
Labels: backend

feat: C-04 ファイルサイズチェックを追加
  apps/backend/src/creative/creative.service.ts
Labels: backend

feat: エラーハンドリング改善（M-01, M-03, M-05, M-06）
  apps/backend/src/common/utils/optimization-error.util.ts
  apps/backend/src/common/utils/tiktok-error.util.ts
  apps/backend/src/google-sheets/google-sheets.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: GitHub Actions同期エンドポイントにSmart+広告対応を追加
  apps/backend/src/jobs/jobs.controller.ts
Labels: backend

feat: 予算調整自動化のGitHub Actionsワークフローを追加
  .github/workflows/budget-optimization.yml
Labels: ci/cd

improve: ワークフローログに判定結果のサマリーを追加
  .github/workflows/budget-optimization.yml
Labels: ci/cd

improve: ワークフローログに詳細メトリクスを追加
  .github/workflows/budget-optimization.yml
Labels: ci/cd

fix: HTTP 201も成功として扱うように修正
  .github/workflows/budget-optimization.yml
Labels: ci/cd

feat: スケジュール実行の対象アカウントを6つに限定
  .github/workflows/budget-optimization.yml
Labels: ci/cd

fix: curlのSSL/接続エラー時にリトライを追加
  .github/workflows/budget-optimization.yml
Labels: ci/cd

fix: getTotalAdSpendでTikTok IDから内部IDへの変換を追加
  apps/backend/src/optimization/optimization.service.ts
Labels: backend

security: Next.jsを15.5.9にアップデート（CVE-2025-55182/66478対応）
  apps/frontend/package.json
  package-lock.json
Labels: frontend, dependencies

feat: 最適化モード選択機能（ROAS最大化/集客数増加）を追加
  .github/workflows/budget-optimization.yml
  apps/backend/src/optimization/optimization.controller.ts
  apps/backend/src/optimization/optimization.service.ts
  apps/frontend/app/optimization/page.tsx
  docs/OPTIMIZATION_MODE_REQUIREMENTS.md
Labels: backend, frontend, documentation, ci/cd

feat: ドライラン機能を追加（実際のAPI変更なしでテスト可能）
  .github/workflows/budget-optimization-dryrun.yml
  apps/backend/src/optimization/optimization.controller.ts
  apps/backend/src/optimization/optimization.service.ts
  apps/frontend/app/optimization/page.tsx
Labels: backend, frontend, ci/cd

fix: 上限日予算設定画面で広告一覧が表示されない問題を修正
  apps/backend/src/advertiser/advertiser.controller.ts
  apps/backend/src/advertiser/advertiser.service.ts
Labels: backend

fix: curlのSSL接続エラー(exit code 35)でもリトライするように修正
  .github/workflows/budget-optimization-dryrun.yml
  .github/workflows/budget-optimization.yml
Labels: ci/cd

fix: 予算調整自動化からアカウント7543540100849156112を除外
  .github/workflows/budget-optimization-dryrun.yml
  .github/workflows/budget-optimization.yml
Labels: ci/cd

feat: 日中CPA最適化機能を追加
  .env.example
  .github/workflows/intraday-optimization.yml
  apps/backend/prisma/schema.prisma
  apps/backend/src/app.module.ts
  apps/backend/src/intraday-optimization/intraday-optimization.module.ts
  apps/backend/src/intraday-optimization/intraday-optimization.service.ts
  apps/backend/src/jobs/jobs.controller.ts
  apps/backend/src/jobs/jobs.module.ts
  docs/INTRADAY_CPA_OPTIMIZATION_SPEC.md
Labels: backend, documentation, ci/cd, database

feat: 日中CPA最適化にドライランモードを追加
  .github/workflows/intraday-optimization.yml
  apps/backend/src/intraday-optimization/intraday-optimization.service.ts
  apps/backend/src/jobs/jobs.controller.ts
Labels: backend, ci/cd

fix: 日中CPA最適化でSmart+広告の正しい広告名を取得するよう修正
  apps/backend/src/intraday-optimization/intraday-optimization.service.ts
Labels: backend

fix: 日中CPA最適化からクリエイティブ名（旧スマプラ等）の広告を除外
  apps/backend/src/intraday-optimization/intraday-optimization.service.ts
Labels: backend

fix: 日中CPA最適化で正しいフォーマットの広告名のみを対象にする
  apps/backend/src/intraday-optimization/intraday-optimization.service.ts
Labels: backend

fix: 日中CPA最適化でSmart+広告のメトリクスを正しく取得するよう修正
  apps/backend/src/intraday-optimization/intraday-optimization.service.ts
Labels: backend

fix: 日中CPA最適化で前日CPAの代わりに過去7日間平均CPAを使用
  apps/backend/src/intraday-optimization/intraday-optimization.service.ts
Labels: backend

fix: 日中最適化の再開・復元処理でGitHub Actions遅延に対応
  apps/backend/src/intraday-optimization/intraday-optimization.service.ts
Labels: backend

feat: 予算増額クールダウン機能を追加（3日間）
  apps/backend/src/optimization/optimization.service.ts
  docs/BUDGET_INCREASE_COOLDOWN_REQUIREMENTS.md
Labels: backend, documentation

feat: GitHub Actionsにクールダウン・上限日予算スキップの表示を追加
  .github/workflows/budget-optimization.yml
Labels: ci/cd

chore: AI1アカウントを予算最適化の自動実行から一時的に除外
  .github/workflows/budget-optimization.yml
Labels: ci/cd

chore: AI_1アカウント(7468288053866561553)を予算最適化の自動実行から除外
  .github/workflows/budget-optimization.yml
Labels: ci/cd

chore: AI_1, AI_2, AI_3アカウントを日中CPA最適化・予算調整の自動実行から除外
  .github/workflows/budget-optimization.yml
  .github/workflows/intraday-optimization.yml
  apps/backend/src/intraday-optimization/intraday-optimization.service.ts
  apps/backend/src/jobs/jobs.controller.ts
Labels: backend, ci/cd

feat: 日次出稿数・停止数記録機能を追加
  .github/workflows/daily-ad-count-recording.yml
  apps/backend/src/ad-count-recording/ad-count-recording.module.ts
  apps/backend/src/ad-count-recording/ad-count-recording.service.ts
  apps/backend/src/app.module.ts
  apps/backend/src/google-sheets/google-sheets.service.ts
  apps/backend/src/jobs/jobs.controller.ts
  apps/backend/src/jobs/jobs.module.ts
  docs/DAILY_AD_COUNT_RECORDING_SPEC.md
  scripts/add-tokens.ts
Labels: backend, documentation, ci/cd

feat: 予算調整V2（毎時実行）を実装
  .github/workflows/budget-optimization-v2.yml
  apps/backend/prisma/schema.prisma
  apps/backend/src/app.module.ts
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.controller.ts
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.module.ts
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/budget-optimization-v2/types.ts
  docs/BUDGET_OPTIMIZATION_V2_SPEC.md
Labels: backend, documentation, ci/cd, database

fix: V2ワークフローのログに日予算変更前後・詳細メトリクスを表示
  .github/workflows/budget-optimization-v2.yml
Labels: ci/cd
