Repository addness-adteam/TikTok-ads-automation, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, shared-types, dependencies, documentation, ci/cd, docker, database

feat: Vercel Blob Client Uploadで大容量ファイル対応
  apps/backend/src/creative/creative.controller.ts
  apps/backend/src/creative/creative.service.ts
  apps/frontend/app/creatives/page.tsx
Labels: backend, frontend

chore: remove spark-md5 dependency from frontend
  apps/frontend/package.json
  package-lock.json
Labels: frontend, dependencies

fix: remove unused import and method causing TypeScript error
  apps/backend/src/creative/creative.service.ts
Labels: backend

fix: Vercel Blob upload using put() instead of upload()
  apps/backend/src/creative/creative.controller.ts
  apps/frontend/app/creatives/page.tsx
Labels: backend, frontend

debug: add detailed logging for video info API response
  apps/backend/src/creative/creative.service.ts
Labels: backend

fix: use correct field names (poster_url/cover_image_uri) for video cover URL
  apps/backend/src/creative/creative.service.ts
Labels: backend

fix: correct Japan location ID from 2392 to 1861060
  apps/backend/src/campaign-builder/campaign-builder.service.ts
  apps/backend/test-get-japan-location.ts
Labels: backend

fix: TikTok動画処理のタイミング問題を解決 - リトライロジック実装
  apps/backend/src/creative/creative.service.ts
Labels: backend

ui: 訴求マスタをKPI設定に変更してユーザビリティ向上
  apps/frontend/app/appeals/page.tsx
  apps/frontend/components/layout/Sidebar.tsx
Labels: frontend

ui: CV集計シートとフロント集計シートのURL表示を非表示化
  apps/frontend/app/appeals/page.tsx
Labels: frontend

feat: キャンペーン作成画面に広告名入力機能を追加
  apps/backend/src/campaign-builder/campaign-builder.controller.ts
  apps/frontend/app/campaign-builder/page.tsx
Labels: backend, frontend

feat: 広告文テンプレート機能のバックエンド実装
  apps/backend/prisma/schema.prisma
  apps/backend/src/ad-text-template/ad-text-template.controller.ts
  apps/backend/src/ad-text-template/ad-text-template.module.ts
  apps/backend/src/ad-text-template/ad-text-template.service.ts
  apps/backend/src/app.module.ts
  apps/backend/src/appeal/appeal.service.ts
Labels: backend, database

feat: 広告文テンプレート機能のフロントエンド実装完了
  apps/frontend/app/campaign-builder/page.tsx
Labels: frontend

fix: TypeScript型インポートエラーを修正
  apps/backend/src/ad-text-template/ad-text-template.controller.ts
Labels: backend

ui: サイドバーのデザインを黒背景・白文字に変更
  apps/frontend/components/layout/Sidebar.tsx
Labels: frontend

ui: 予算調整ボタンにTikTokカラーのグラデーションボーダーを追加
  apps/frontend/app/optimization/page.tsx
Labels: frontend

ui: 広告名フィールドのラベルを「記入例」から「記入ルール」に変更
  apps/frontend/app/campaign-builder/page.tsx
Labels: frontend

ui: KPI設定画面の新規作成ボタンの色を青色から黒色に変更
  apps/frontend/app/appeals/page.tsx
Labels: frontend

ui: 予算調整実行ボタンのスタイルを黒色に統一
  apps/frontend/app/optimization/page.tsx
Labels: frontend

fix: 全アカウント実行時に詳細ログが表示されない問題を修正
  apps/frontend/app/optimization/page.tsx
Labels: frontend

feat: 広告同期の自動実行機能を追加
  apps/backend/src/jobs/scheduler.service.ts
Labels: backend

fix: test-reportエンドポイントでdataLevelパラメータを受け取れるように修正
  apps/backend/src/jobs/jobs.controller.ts
Labels: backend

debug: Add comprehensive logging to metrics saving and querying
  apps/backend/src/optimization/optimization.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

feat: Add endpoint to sync all advertisers from existing token
  apps/backend/src/tiktok/tiktok.controller.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: タイムゾーンバグとエンティティ同期の自動実行を修正
  .github/workflows/daily-metrics.yml
  apps/backend/src/jobs/jobs.controller.ts
  apps/backend/src/jobs/scheduler.service.ts
  apps/backend/src/optimization/optimization.service.ts
Labels: backend, ci/cd

feat: 旧スマートプラスキャンペーンの予算調整機能を追加
  apps/backend/src/optimization/optimization.service.ts
Labels: backend

feat: 新スマートプラス広告の取得と予算最適化に対応
  apps/backend/prisma/schema.prisma
  apps/backend/src/jobs/scheduler.service.ts
  apps/backend/src/optimization/optimization.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
  apps/frontend/app/optimization/page.tsx
Labels: backend, frontend, database

fix: Smart+広告のcreative_listからvideo_idを取得するように修正
  apps/backend/src/jobs/scheduler.service.ts
Labels: backend

fix: Add page_size parameter to getCampaigns() to retrieve all campaigns
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: Correct Smart+ ad API response field mappings in scheduler
  apps/backend/src/jobs/scheduler.service.ts
Labels: backend

feat: Add Smart+ ads verification endpoint
  apps/backend/src/tiktok/tiktok.controller.ts
Labels: backend

feat: Add manual entity sync endpoint for Smart+ ads
  apps/backend/src/jobs/jobs.controller.ts
Labels: backend

fix: Fix Smart+ ad metrics retrieval and aggregation
  apps/backend/src/jobs/scheduler.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: Fix Smart+ ad metrics calculation in budget optimization
  apps/backend/src/optimization/optimization.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

fix: Add pagination support to sync all campaigns, adgroups, ads, and Smart+ ads
  apps/backend/src/jobs/jobs.controller.ts
  apps/backend/src/jobs/scheduler.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

feat: Add Smart+ budget update API support for budget optimization
  apps/backend/src/optimization/optimization.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

Fix: sync-entitiesタイムアウト対策
  .github/workflows/daily-metrics.yml
  apps/backend/vercel.json
Labels: backend, ci/cd

fix: Smart+広告の同期でsmart_plus_ad_idを使用するように修正
  apps/backend/src/jobs/scheduler.service.ts
Labels: backend

fix: メトリクスのstatDateをUTC 00:00:00形式に統一してタイムゾーン問題を解消
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

feat: エラーハンドリング機能を各サービスに実装
  apps/backend/src/google-sheets/google-sheets.service.ts
  apps/backend/src/jobs/scheduler.service.ts
  apps/backend/src/optimization/optimization.service.ts
  apps/backend/src/tiktok/tiktok.service.ts
Labels: backend

.github/labeler.yml:

# Pull Request Auto Labeler Configuration

'backend':
  - apps/backend/**/*

'frontend':
  - apps/frontend/**/*

'shared-types':
  - packages/shared-types/**/*

'dependencies':
  - package.json
  - package-lock.json
  - apps/*/package.json
  - packages/*/package.json

'documentation':
  - docs/**/*
  - '**/*.md'

'ci/cd':
  - .github/workflows/**/*
  - .github/**/*

'docker':
  - docker-compose.yml
  - Dockerfile
  - docker/**/*

'database':
  - apps/backend/prisma/**/*
  - docker/postgres/**/*
