Repository addness-adteam/TikTok-ads-automation, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, shared-types, dependencies, documentation, ci/cd, docker, database

.github/labeler.yml:

# Pull Request Auto Labeler Configuration

'backend':
  - apps/backend/**/*

'frontend':
  - apps/frontend/**/*

'shared-types':
  - packages/shared-types/**/*

'dependencies':
  - package.json
  - package-lock.json
  - apps/*/package.json
  - packages/*/package.json

'documentation':
  - docs/**/*
  - '**/*.md'

'ci/cd':
  - .github/workflows/**/*
  - .github/**/*

'docker':
  - docker-compose.yml
  - Dockerfile
  - docker/**/*

'database':
  - apps/backend/prisma/**/*
  - docker/postgres/**/*

feat: AI導線も¥5万超で+1万刻みに切替（導線別設定に統合）
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/budget-optimization-v2/types.ts
Labels: backend

feat: SNS導線もAIと同じ¥5万超で+1万刻みに設定
  apps/backend/src/budget-optimization-v2/types.ts
Labels: backend

feat: 予算リセットを出稿時の日予算に戻すように変更
  .github/workflows/budget-reset-midnight.yml
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend, ci/cd

feat: 予算調整V2にV1日次判定モードを追加（A/Bテスト用）
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/budget-optimization-v2/types.ts
Labels: backend

feat: 予算調整をV1日次判定方式に全面切替 + 日予算リセット無効化
  .github/workflows/budget-optimization-v2-group-b.yml
  .github/workflows/budget-optimization-v2-group-c.yml
  .github/workflows/budget-optimization-v2.yml
  .github/workflows/budget-reset-fallback.yml
  .github/workflows/budget-reset-midnight.yml
  CLAUDE.md
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
  apps/backend/src/budget-optimization-v2/types.ts
Labels: backend, documentation, ci/cd

fix: V1予算調整のStage1で当日CVフィルタを削除
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend

feat: スキルプラス導線のV1予算増額をCPAベースで追加
  apps/backend/src/budget-optimization-v2/budget-optimization-v2.service.ts
Labels: backend
